/*
 *  Breakpoints
 */

$breakpoints: (
  'sm': (
    min-width: 640px
  ),
  'md': (
    min-width: 768px
  ),
  'lg': (
    min-width: 1024px
  ),
  'xl': (
    min-width: 1280px
  )
) !default;

@mixin responsive($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
